pandas
numpy
scipy
sklearn
matplotlib
ipython
#this is test
# PIL
pyqtgraph
mypy
nose
#json
moviepy
#cv2
pillow
tensorflow
pytest
requests
opencv-python
numpy
Cython
codecov
pytest-cov
